**/.idea/
**/.terraform/

**/*.tfvars
**/*.tfstate
**/*.tfstate*

terraform.tf
aviator_pipeline.yml
ci/jobs/management-dev.yml
ci/jobs/management.yml
ci/jobs/reboot-web-management.yml
ci/jobs/reboot-web-management-dev.yml
ci/jobs/reboot-worker-management.yml
ci/jobs/reboot-worker-management-dev.yml
ci/jobs/mgmt-user-admin.yml
ci/jobs/mgmt-dev-user-admin.yml
