jobs:
- name: management
  plan:
  - get: aws-concourse
    passed:
    - management-dev
    trigger: true
  - get: packer-egress-test-release
    passed:
    - management-dev
  - .: (( inject meta.plan.terraform-bootstrap ))
  - .: (( inject meta.plan.terraform-apply ))
    params:
      TF_WORKSPACE: management
  - .: (( inject meta.plan.terraform-plan ))
    params:
      TF_WORKSPACE: management
  - .: (( inject meta.plan.terraform-output ))
    params:
      TF_WORKSPACE: management
  - .: (( inject meta.plan.concourse-smoke-tests ))
  - .: (( inject meta.plan.create-aws-profiles ))
    config:
      params:
        AWS_ACC: "{{accounts['management']}}"
  - .: (( inject meta.plan.generate-negative-proxy-test-manifest ))
  - .: (( inject meta.plan.generate-positive-proxy-test-manifest ))
  - .: (( inject meta.plan.run-positive-proxy-test ))
  - .: (( inject meta.plan.run-negative-proxy-test ))
