jobs:
- name: management-dev
  plan:
  - get: aws-concourse
    trigger: true
  - .: (( inject meta.plan.terraform-bootstrap ))
  - .: (( inject meta.plan.terraform-apply ))
  - .: (( inject meta.plan.terraform-plan ))
  - .: (( inject meta.plan.terraform-output ))
  - .: (( inject meta.plan.concourse-smoke-tests ))
  - .: (( inject meta.plan.create-aws-profiles ))
    config:
      params:
        AWS_ACC: "{{accounts['management-dev']}}"
