jobs:
- name: management
  plan:
  - get: aws-concourse
    passed:
    - management-dev
    trigger: true
    passed:
    - management-dev
  - .: (( inject meta.plan.terraform-bootstrap ))
    params:
      AWS_SECRETS_ROLE: arn:aws:iam::((aws_account.management)):role/ci
  - .: (( inject meta.plan.terraform-apply ))
    params:
      TF_WORKSPACE: management
  - .: (( inject meta.plan.terraform-plan ))
    params:
      TF_WORKSPACE: management
  - .: (( inject meta.plan.terraform-output ))
    params:
      TF_WORKSPACE: management
  - .: (( inject meta.plan.concourse-smoke-tests ))
  - .: (( inject meta.plan.create-aws-profiles ))
    config:
      params:
        AWS_ACC: "{{accounts['management']}}"
