jobs:
- name: management-user-creation
  plan:
  - get: aws-concourse-users
    passed:
      - management-dev-user-creation
    trigger: true
  - .: (( inject meta.plan.create-aws-profiles ))
    config:
      params:
        AWS_ACC: "{{accounts['management']}}"
  - .: (( inject meta.plan.create-users ))
