jobs:
- name: reboot-management-worker-nodes
  plan:
  - get: aws-concourse
    trigger: false
  - .: (( inject meta.plan.reboot-worker-nodes ))
    config:
      params:
        AWS_ACC: "{{accounts['management']}}"
